<%- include('../partials/head', {errors, info}); %> <%-
include('../partials/navbar'); %>
<div class="container justify-content-center mt-10">
  <div class="w-50 container">
    <div class="mt-10 mb-10">
      <h1 style="text-align: center"><%= expense_values.title %></h1>
    </div>
    <div class="mb-3 border border-5">
      <form action="<%= expense_values.action %>" method="POST">
        <div class="mb-3 ms-3 me-3">
          <label for="date" class="form-label fs-4">Date</label>
          <input
            name="date"
            id="date"
            type="date"
            class="form-control"
            value="<%= expense_values.date %>"
          />
        </div>
        <div class="mb-3 ms-3 me-3">
          <label for="position" class="form-label fs-4">Category</label>
          <select
            name="category"
            id="category"
            type="text"
            class="form-select"
            value="<%= expense_values.category %>"
          >
            <% category_values.forEach((cat_name)=>{ %>
            <option value="<%= cat_name %>"><%= cat_name %></option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3 ms-3 me-3">
          <label for="position" class="form-label fs-4">Amount</label>
          <input
            name="amount"
            id="amount"
            type="number"
            class="form-control"
            value="<%= expense_values.amount %>"
          />
        </div>
        <div class="mb-3 ms-3 me-3">
          <button type="submit" class="btn btn-lg btn-success">
            <%= expense_values.submit %>
          </button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>
      </form>
    </div>
    <a href="/expenses" class="btn btn-secondary mt-10">Back</a>
  </div>
</div>
<%- include("../partials/foot") %>
